h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #00bcd4;
}

a:active, a:hover {
  color: #00bcd4;
}

.img-container {
  margin-bottom: 30px;
}

.img-container img {
  max-width: 600px;
}

.info {
  margin-bottom: 15px;
}

.options .parameter label {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  margin-bottom: 5px;
  text-align: right;
}

.content-container {
  display: flex;
  flex-direction: row;
}

.content-container .settings {
  margin-left: 60px;
}
